@charset "UTF-8";
/* 메인상단 위치표시영역 */
.location_area{
    height: 260px;
    background-color: rgb(123, 103, 155);
}
.tit_page{
    padding: 140px 0 0 0;
    margin: 0 45px;
    border-bottom: 1px solid #ccc;
    font: 30px "arial Narrow";
    color: #fff;
    letter-spacing: 3px;
    text-align: left;
}
.location {display:none;}

ul.page_menu{
    display:block;
    padding: 10px 0 0 45px;
}

ul.page_menu li{
    float:left;
    padding-bottom: 10px;
}
ul.page_menu li a.on{
    border-bottom: 1px solid #fff;
    color: #fff;
    background: none;
}
ul.page_menu li a{
    display: block;
    margin-right: 20px;
    font-size: 15px;
    color: #ddd;
}
.tit_page .in{
    font-variant: small-caps;
}
/* //메인상단 위치표시영역 */
/* //게시판 공통영역 */
/* //모바일용 게시판 스타일 */