/* 테블릿용 메인페이지 스타일 지정 */
@media all and (min-width:801px){
    /* 상단로고와 메뉴스타일 */
    header{
        height:113px;
    }
    .header_area h1{
        float:left;
        padding: 15px 20px 0;
        width: auto;
        height: inherit;/* inherit:현재영역의 부모의 속성을 그대로 사용하겠다. */
        text-align: inherit;
    }
    .header_area h1 a{
        display: block;
        width: 100px;
        height: 80px;
        background-size: 70px 80px !important;
    }
    .openMOgnb{
        display:none;
    }
    .header_cont{
        display: block;
        float:right;
        width:60%;
        padding-right:20px;
        background:none;
        margin-top:0px;
    }
    .closePop{
        display:none;
    }
    .util{ /* 메인메뉴 상단의 소메뉴를 util로 이름 지음. */
        padding:0;
        text-align: right;
        padding-top: 10px;
    }
    .util li{
        float: none;
        display: inline;
    }
    .util li::after{
        color: #fff;
    }
    .util li a{
        font-size: 14px
    }
    .gnb{
        float: right;
        padding-top: 5px;
        height: inherit;
        border-top: none;
    }
    .gnb li{
        width:auto;
        text-align: inherit;
        box-sizing: inherit;
        border-bottom: none;
    }
    .gnb li:nth-child(2n+1){
        border:none;
    }
    .gnb li a {
        padding: 26px 25px;
        font-size: 18px;
        height: inherit;
        line-height: inherit;
    }
    .gnb li:nth-child(1) a{
        background: none;
    }
    .gnb li:nth-child(2) a{
        background: none;
    }
    .gnb li:nth-child(3) a{
        background: none;
    }
    .gnb li:nth-child(4) a{
        background: none;
    }
    .gnb li:last-child() a {
        padding-right: 0px
    }

    /* //상단로고와 메뉴스타일 */

}